<div class="headers container">
    <span routerLink="/home" routerLinkActive="active">HOME</span>
    <span class="margin-20" routerLink="/philosophy" routerLinkActive="active">PHILOSOPHY</span>
    <span class="margin-20" routerLink="/about" routerLinkActive="active">ABOUT US</span>
    <span class="margin-20" routerLink="/services" routerLinkActive="active">OUR SERVICES</span>
    <span routerLink="/contact" routerLinkActive="active">CONTACT US</span>
  </div>

  <div id="nav" class="sidenav">
      <div (click)="closeNav()"><span routerLink="/home" routerLinkActive="active">HOME</span></div>
      <div (click)="closeNav()"><span routerLink="/philosophy" routerLinkActive="active">PHILOSOPHY</span></div>
      <div (click)="closeNav()"><span routerLink="/about" routerLinkActive="active">ABOUT US</span></div>
      <div (click)="closeNav()"><span routerLink="/services" routerLinkActive="active">OUR SERVICES</span></div>
      <div (click)="closeNav()"><span routerLink="/contact" routerLinkActive="active">CONTACT US</span></div>
  </div>
  
  
  <span class="menu-icon" (click)="openNav()">&#9776; </span>